<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Ghost Chat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Select Photo, Video Calls</string>
	<key>NSContactsUsageDescription</key>
	<string>Send sms</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Audio Calls</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Select Photo</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Select Photo</string>
	<key>UIAppFonts</key>
	<array>
		<string>D-DIN-Bold.otf</string>
		<string>D-DIN-Italic.otf</string>
		<string>D-DIN.otf</string>
		<string>D-DINCondensed-Bold.otf</string>
		<string>D-DINCondensed.otf</string>
		<string>D-DINExp-Bold.otf</string>
		<string>D-DINExp-Italic.otf</string>
		<string>D-DINExp.otf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>SanFranciscoDisplay-Black.otf</string>
		<string>SanFranciscoDisplay-Bold.otf</string>
		<string>SanFranciscoDisplay-Heavy.otf</string>
		<string>SanFranciscoDisplay-Light.otf</string>
		<string>SanFranciscoDisplay-Medium.otf</string>
		<string>SanFranciscoDisplay-Regular.otf</string>
		<string>SanFranciscoDisplay-Semibold.otf</string>
		<string>SanFranciscoDisplay-Thin.otf</string>
		<string>SanFranciscoDisplay-Ultralight.otf</string>
		<string>SanFranciscoText-Bold.otf</string>
		<string>SanFranciscoText-BoldItalic.otf</string>
		<string>SanFranciscoText-Heavy.otf</string>
		<string>SanFranciscoText-HeavyItalic.otf</string>
		<string>SanFranciscoText-Light.otf</string>
		<string>SanFranciscoText-LightItalic.otf</string>
		<string>SanFranciscoText-Medium.otf</string>
		<string>SanFranciscoText-MediumItalic.otf</string>
		<string>SanFranciscoText-Regular.otf</string>
		<string>SanFranciscoText-RegularItalic.otf</string>
		<string>SanFranciscoText-Semibold.otf</string>
		<string>SanFranciscoText-SemiboldItalic.otf</string>
		<string>TitilliumWeb-Black.ttf</string>
		<string>TitilliumWeb-Bold.ttf</string>
		<string>TitilliumWeb-BoldItalic.ttf</string>
		<string>TitilliumWeb-ExtraLight.ttf</string>
		<string>TitilliumWeb-ExtraLightItalic.ttf</string>
		<string>TitilliumWeb-Italic.ttf</string>
		<string>TitilliumWeb-Light.ttf</string>
		<string>TitilliumWeb-LightItalic.ttf</string>
		<string>TitilliumWeb-Regular.ttf</string>
		<string>TitilliumWeb-SemiBold.ttf</string>
		<string>TitilliumWeb-SemiBoldItalic.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>AntDesign.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
    <string>audio</string>
    <string>fetch</string>
    <string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
